.profile {
  @include font-heading(400);

  margin: 2rem auto;
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  color: $color-primary-300;

  &-grid {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1rem;

    &-edit {
      display: flex;
      align-items: flex-start;
      cursor: pointer;
    }

    &-header {
      display: flex;
      align-items: flex-start;
    }

    &-field {
      display: flex;
      align-items: center;

      &-edit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &-message {
        @include font-paragraph(300);
        margin-top: 1rem;
      }
    }
  }
}
