.main-container {
  $container-width: 120rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  // This is the bar the menu sits inside of
  &__menubox {
    display: flex;
    justify-content: center;
    width: 100%;
    // background-color: $color-grey-150;

    // The menu itself
    &-menu {
      display: flex;
      padding: 1rem 1rem;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: $container-width;

      &-link,
      &-link:visited {
        display: inline-block;
        margin: 0 1.5rem;
        @include font-heading(500);
        color: $color-primary-300;
        cursor: pointer;
      }

      &-link:hover {
        color: $color-primary-100;
      }

      &-link:active {
        color: $color-primary-200;
      }
    }
  }

  &__body {
    width: 100%;
    max-width: $container-width;
  }
}
