$color-primary-100: #3376a5;
$color-primary-200: #2b648c;
$color-primary-300: #235273;

$color-secondary-100: #5fb2ec;
$color-secondary-200: #55a0d4;
$color-secondary-300: #4b8cba;

$color-tertiary-100: #fff28f;
$color-tertiary-200: #d6c852;
$color-tertiary-300: #bdb049;

$color-grey-100: #f4f4f4;
$color-grey-150: #eeeeee;
$color-grey-200: #d1d8e9;
$color-grey-300: #314578;

$color-form: #d1d8e9;

$color-black: #000717;
$color-error: #c0392b;
$color-error-hover: #e74c3c;

.error {
  @include font-paragraph(200);
  text-align: center;
  color: $color-error;
}

.message {
  @include font-paragraph(200);
  text-align: center;
  color: $color-primary-200;
}
